.container-detail {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.detail-name {
    text-align: center;
}

.detail-top {
    display: flex;
}

.detail-left {
    flex:1;
    margin: 45px;
}

.detail-right {
    flex: 1;
    margin: 45px;
}

.description {
    text-align: center;
}

.list {
    list-style-type: none;
}

h3, h4 {
    color: #003e7c;;
}